#clock {
    margin: auto;
    text-align: center;
    color: black;
}

header {
    background-color: grey;
    height: 125px;
}
.headertext {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 125px;
}

.scheduleWrapper {
    min-height: 500px;
    border: medium solid seagreen;
}
.inputWrapper {
    min-height: 450px;
    border: medium solid seagreen;

}

.scheduleText {
    color: darkgray;
}

.nameHeading {
    margin-left: 18px;
}

#inputForm {
    width: 1080px;
    margin: auto;

}


.scheduleHeading, .inputHeading {
    background-color: seagreen;
    height: 25px;
   }

.scheduleTitle, .inputTitle {
    color: white;
    padding-left: 5px;
    padding-top: 3px;
}
